In [2]:
import pandas as pd
import numpy as np
import mysql.connector as sq

In [3]:
# Read file
df = pd.read_csv("C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/nj_state_teachers_salaries.csv", 
                 dtype={ 'fte': 'str','experience_district': 'str', 'experience_nj': 'str', 'experience_total': 'str'})
# 'fte': 'str',
# # Drop rows that are blank in column first_name
# df.dropna(subset=['first_name'], inplace=True)

# Drop blank rows
df.dropna(how="all", inplace = True)

In [4]:
# Remove leading and trailing space
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [29]:
# Change all invalid values to NaN
df['fte'] = df['fte'].replace('[$?]',np.NaN, regex=True)
df['experience_district'] = df['experience_district'].replace('[^0-9]',np.NaN, regex=True)
df['experience_nj'] = df['experience_nj'].replace('[^0-9]',np.NaN, regex=True)
df['experience_total'] = df['experience_total'].replace('[^0-9]',np.NaN, regex=True)

In [30]:
df.dropna(inplace=True)

In [31]:
# Export to csv
df.to_csv("C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/nj_clean.csv", index=False)

In [3]:
# Connect to sql database
mydb=sq.connect(host="localhost", user="", passwd="", buffered=True)

In [4]:
# Set up cursor object
mycursor = mydb.cursor()

In [5]:
# Drop database if currently exists
sql = "DROP DATABASE IF EXISTS nj_state_teachers_salaries"
mycursor.execute(sql)

In [6]:
# Create database
mycursor.execute("CREATE SCHEMA nj_state_teachers_salaries")

In [7]:
# Create table
mycursor.execute("CREATE TABLE nj_state_teachers_salaries.nj_state_teachers_salaries (last_name text, first_name text, county text, district text, school text, primary_job text, fte double, salary double, certificate text, subcategory text, teaching_route text, highly_qualified text, experience_district int, experience_nj int, experience_total int)")

In [11]:
SQLCMD = "LOAD DATA INFILE 'C:/ProgramData/MySQL/MySQL Server 8.0/Uploads/nj_clean.csv' \
INTO TABLE nj_state_teachers_salaries.nj_state_teachers_salaries FIELDS TERMINATED BY ',' ENCLOSED BY '\"' ESCAPED BY '' LINES TERMINATED BY '\\n' IGNORE 1 ROWS "
mycursor.execute(SQLCMD)